<script type="text/template" id="movie_template">
    <div class="movie">
        <div class="movie_cover">
            <img src="images/movie_covers/American%20Dream.jpeg" alt=""/>
        </div>
        <div class="movie_info">
            <div class="movie_title">American Dream</div>
            <div class="movie_year">1995</div>
            <div class="movie_summary">The foundation’s campaign will bring the first major changes in years to a site that is a time capsule from the Web’s earlier, clunkier days, far removed from the easy-to-use social and commercial sites that dominate today.</div>
        </div>
    </div>
</script>
