@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
    box-sizing: border-box;
}

a {
    outline: 0; /*removes the dotted box around the links*/
    cursor: pointer;
}

/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: dashed;
}

/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #000000;
}

body {
    background-color: #ffffff;
    color: #ba9d37;
    font-family: 'Raleway', sans-serif;
}

#movie_view {
    /*positioning*/
    position: fixed;
    top: 62px;
    right: 0px;
    bottom: 0px;
    left: 900px;
    float: right;


    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 800px;
    width: 50%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000;*/
    padding: 0px 0px 0px 0px;



    /*font-size: 40px;*/

}

#leftnavigation {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 800px;
    width: 45%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dotted #000000*/;
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

#header {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 50px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 5px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;
    font-size: 40px;
    text-align: center;

}

.movie {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 200px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 5px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

.cover {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 18%;

    /*box model*/
    margin: 0px 0px 5px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

.info {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 80%;

    /*box model*/
    margin: 0px 0px 5px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/


}

.title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 30%;
    width: 100%;

    /*box model*/
    margin: 0px 0px 5px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}