@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

* {
    box-sizing: border-box;
}

a {
    outline: 0; /*removes the dotted box around the links*/
    cursor: pointer;
}

/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: dashed;
}

/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #000000;
}

body {
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*border: 1px dashed white;*/
    padding: 0px 0px 0px 0px;


    background-color: #D9D9D9;
    color: #000000;
    font-family: 'Titillium Web', sans-serif;

}

#movie_player {
    /*positioning*/
    position: fixed;
    top: 25%;
    right: 0px;
    bottom: 0px;
    left: 40%;
    float: left;


    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 60%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*
        border: 1px dotted #000000;
    */
    padding: 0px 0px 0px 0px;



    /*font-size: 40px;*/

}

#movies {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 40%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*
        border: 1px dotted #000000;
    */
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

#header {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden; /*used to avoid the disapperance of the container*/

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*
        border: 1px dotted #000000;
    */
    border-bottom: 1px solid red;
    padding: 0px 0px 0px 0px;

    /*decorations*/
    font-size: 35px;
    text-align: center;

}

.movie {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 200px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 5px 0px;
    /*
        border: 1px dotted #000000;
    */
    border-bottom: 1px dashed #000000;
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

.movie_cover {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 20%;

    /*box model*/
    margin: 0px 0px 5px 0px;
    /*
        border: 1px dotted #000000;
    */
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

.movie_info {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 100%;
    width: 80%;

    /*box model*/
    margin: 0px 0px 5px 0px;
    /*
        border: 1px dotted #000000;
    */
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/


}

.movie_title {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*
        border: 1px dotted #000000;
    */
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/
    font-weight: bold;

}

#content {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 5px 0px 0px 0px;
    /*
        border: 1px dotted #000000;
    */
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

.movie_year {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*
        border: 1px dotted #000000;
    */
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

.movie_summary {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    /*
        border: 1px dotted #000000;
    */
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/
}

.player_container {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /*float: left;*/ /*we comment this because we want the div horizontally centered*/

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: auto;
    width: auto;

    /*box model*/
    margin: 0 auto 0 auto;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}

.movie_details {
    /*positioning*/
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;

    /*display*/
    display: block; /*default display for div tags*/

    /*size*/
    height: 25px;
    width: 100%;

    /*box model*/
    margin: 0px 0px 0px 0px;
    border: 1px dotted #000000;
    padding: 0px 0px 0px 0px;
    /*font-size: 40px;*/

}